<div class="dialog-header">
  <h1 mat-dialog-title>
    FAQ<br /><span><h3>Most asked questions found below.</h3></span>
  </h1>
  <mat-icon
    mat-icon-button
    [mat-dialog-close]="false"
    class="material-icons-outlined md-24 close-icon"
    >close</mat-icon
  >
</div>
<hr />
<mat-dialog-content>
  <div class="faq-dialog">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> What is Shufflepik? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Shufflepik is a website and a Discord bot.Upload images or memes on
          the Shufflepik site and share a randomized image with the Shufflepik
          bot using the /shufflepik command on Discord.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> How to upload images? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          You must have a Shufflepik account. After creating a shufflepik
          account you follow 3 easy steps (in no particular order):
        </p>
        <ol>
          <li>
            If none of the server's you're a member of has the Shufflepik bot,
            invite Shufflepik Bot to one of your servers
          </li>
          <li>Connect Shufflepik to your Discord account</li>
          <li>Confirm/Validate Email (sent to email used to create acct.)</li>
        </ol>
        <p>
          After this follow the upload image prompt and you'll be able to upload
          images.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What do you mean "randomized" image?</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p>
          When you upload an image you will be prompted to upload to a
          corresponding "server pool". Any user from that server can upload
          images to the shared server pool on Shufflepik. The Shufflepik bot
          selects an image at random when a user uses the /shufflepik command.
          It's sort of a routlette of images.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Does a Discord server share a Shufflepik account?</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p>
          No. You will only see the images you upload on your Shufflepik
          account. You will only see another user's images when they are
          displayed through the /shufflepik command on Discord.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Compatible image extensions?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          We are only able to process .png, .jpg, .jpeg formats. We're working
          on gif compatibility, should be out soon.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What happens to my images if I am kicked, banned, or leave a
            server?</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p>
          The respective images and albums for the server(s) you are no longer a
          part of will be deleted.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            I no longer see the album(s) for (a) particular
            server(s)?</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p>
          You may no longer be part of that server. We delete albums that
          correspond to servers users are no longer a part of. If you wish to
          keep an album, remain part of its respective server.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            If I am no longer part of a server will my images continue to be
            displayed by the /shufflepik command?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          No, this is why albums are deleted once a user disassociates with a
          server. If you don't have an album for an associated server then any
          images previously associated with said server will be deleted.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            I joined a server but it is not added to my Shufflepik 'Upload to
            server pool(s)'.</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p>
          It takes a couple of minutes for changes to take effect. If you need a
          more immediate change, perform a hard page refresh on home page or
          navigate away from home page and back or log out and log back into
          your account.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Changes are not being reflected.</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          It take a couple of minutes for changes to take effect. If you need a
          more immediate change, perform a hard page refresh on home page or
          navigate away from home page and back or log out and log back into
          your account.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            I think or know that someone mave have or has access to my
            account.</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p>
          You should reset your password immediately, this is the easiest way to
          safeguard your account. You can reset your password using the "forgot
          password" option on the Shufflepik login page (you may have to log out
          if you're logged in to your account). A good pro tip is to always log
          out of your account when you're done using Shufflepik for a session.
          If you need anything else please contact us.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> I have more questions</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Reach out to info@shufflepik.com for more information on Shufflepik.
          If you have any issues with your account reach out to
          support@shufflepik.com
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-dialog-content>
