$dark-purp: #5555aa;
$light-purp: #6666cc;
$highlight-purp: #3601d6;
$d-purp: #5865f2;
$subtle-black: #858585;
$subtle-bg-gray: #f5f3f3;
$subtle-header-gray: #7e7c7c;
$icon-gray: #626161;
$cta-green: rgb(117, 218, 117);
$cta-danger: rgb(185, 9, 39);
$cta-warning: rgb(255, 193, 5);

.user-settings {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
  //exclude the height of navbar
  height: calc(100vh - 60px);
  //offset height of bar
  top: 60px;
  width: 100vw;
  position: relative;
  background-color: $subtle-bg-gray;
}
.header,
.section-delete-account-forever,
.settings-footer {
  display: flex;
}
.header {
  grid-area: 1/1/3/12;
  min-height: 200px;
  place-items: center;
  background-color: #ffffff;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-evenly;

  .avatar {
    .material-icons {
      font-size: 72px;
    }
    mat-icon {
      height: 72px;
      width: 72px;
    }
    img {
      min-height: 72px;
      min-width: 72px;
      border-radius: 100%;
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }
  }
  .username {
    font-size: 24px;
  }
  .email {
    font-size: 16px;
    color: $subtle-black;
  }
}
.setting-sub-header-title {
  color: $subtle-header-gray;
  justify-self: center;
  align-self: center;
  grid-column: 1/4;
  letter-spacing: 1px;
  min-height: 20px;
}
.discord-first-option,
.discord-second-option,
.discord-third-option,
.section-delete-account-forever {
  place-self: center;
}

.discord-header {
  grid-row: 3/4;
}

.section {
  min-height: 150px;
  place-items: center;
  background-color: #ffffff;
  grid-column: 1/12;
}
.discord-section {
  grid-row: 4/6;
}
.section-delete-account-forever {
  grid-area: 8/1/9/12;
  color: #ffffff;
  background-color: $cta-danger;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  p {
    place-self: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
.section-icon {
  place-self: center;
  grid-column: 1/3;
  mat-icon {
    color: $icon-gray;
  }
}
.section-text {
  grid-column: 3/9;
  justify-self: start;
  align-self: center;
  font-size: 15px;
  font-weight: 500;
}
.section-cta {
  grid-column: 10/12;
  place-self: center;
}
.discord-first-option {
  grid-row: 4/5;

  .cta-dot {
    color: $icon-gray;
  }
  .cta-dot--active {
    color: $cta-green;
  }
}
.discord-second-option {
  grid-row: 5/6;
}

.shufflepik-header {
  grid-row: 6/7;
  justify-self: end;
}

.shufflepik-section {
  grid-row: 7/9;
}
.shufflepik-first-option {
  grid-row: 7/8;
}
.section-cta.shufflepik-first-option,
.section-cta.shufflepik-second-option,
.section-cta.discord-second-option,
.section-delete-account-forever p {
  cursor: pointer;
}

.section-cta.shufflepik-second-option {
  color: $cta-danger;
}
.section-icon.shufflepik-second-option > mat-icon {
  color: $icon-gray;
  animation: warning-pulse 2.75s ease-in-out infinite alternate;
}
@keyframes warning-pulse {
  0% {
    color: $icon-gray;
  }
  100% {
    color: $cta-warning;
  }
}
.shufflepik-second-option {
  grid-row: 8/9;
}
.settings-footer {
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  color: $subtle-header-gray;
  grid-area: 9/1/10/12;
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    flex-basis: auto;
  }
  mat-icon {
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: unset;
    width: unset;
  }
  span {
    margin: 0;
    padding: 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .shufflepik-header {
    justify-self: center;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
