<div class="grid login-page">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onLoginSubmit()"
    class="grid login-card"
  >
    <figure class="sp-logo"></figure>
    <input
      type="email"
      formControlName="email"
      class="email"
      placeholder="{{ emailPlaceholder }}"
      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
    />
    <div
      *ngIf="submitted && f['email'].errors"
      class="email-error invalid-feedback"
    ></div>
    <input
      type="password"
      formControlName="password"
      class="password"
      placeholder="{{ passwordPlaceholder }}"
      [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
    />
    <div
      *ngIf="submitted && f['password'].errors"
      class="password-error invalid-feedback"
    ></div>
    <div class="register" (click)="openRegisterDialog()">Create Account</div>
    <div class="password-help" (click)="openForgotPasswordDialog()">
      Forgot Password?
    </div>
    <button matRipple class="login-button">
      <h3>Login</h3>
    </button>
    <div *ngIf="error" class="">{{ error }}</div>
  </form>
  <footer class="footer">
    <button mat-flat-button matRipple class="faq" (click)="openFaqDialog()">
      FAQ
    </button>
    <button mat-flat-button matRipple class="invite-bot" (click)="inviteSp()">
      Invite Shufflepik
    </button>
  </footer>
</div>
