// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
$sp-purple: #4e54c8;

/*.login-page,
.login-card {
  height: 100vh;
  width: 100vw;
}*/

.login-page {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
  //background-color: #5555aa;
  background-color: $sp-purple;
  height: 100vh;
}

.login-card {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: unset;
  width: unset;
  min-width: 250px;
  grid-area: 2/2/9/11;
  padding: 0 20px;
  text-align: center;
  //Since the entire login-card is a form, caret appears where elements are outside of the actual elements.
  caret-color: transparent;

  //background-color: #6666cc;
  background-color: #5f66f2;
  //background-color: $sp-purple;
  min-height: 375px;

  input,
  .login-button {
    margin: 15px 0;
    border-style: solid;
    border-color: #6666cc;
    height: 47.5px;
    padding: 2.5px 25px;
  }

  input:focus {
    border-color: #232382;
    caret-color: #232382;
    border-radius: 30px;
    outline: none;
  }

  input {
    //This is the height minus padding and border which takes up space in input
    height: calc(47.5px - 9px);
    text-align: center;
    border-color: #6666cc;
  }

  .sp-logo {
    grid-row: 1/3;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    background-image: url(../../assets/global-images/sp-logo-white.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    //border-bottom: 1px solid #fff;
  }

  .loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid $sp-purple; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: relative;
    left: calc(50% - 10px);
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .email {
    grid-row: 3/5;
    //align-self: start;
  }
  .email-error {
    grid-row: 4/5;
    color: #f8bbd0;
    font-weight: bolder;
    align-self: end;
    padding-left: 10px;
  }
  .password {
    grid-row: 5/7;
    //align-self: start;
  }
  .password-error {
    grid-row: 6/7;
    color: #f8bbd0;
    font-weight: bolder;
    align-self: end;
    padding-left: 10px;
  }

  .register {
    grid-row: 7/8;
    grid-column: 2/3;
    align-self: end;
  }

  .password-help {
    grid-row: 7/8;
    grid-column: 4/5;
    align-self: end;
  }

  .login-button {
    background-color: #fff;
    color: #6666cc;
    grid-row: 8/10;
    &:focus {
      outline: none;
    }
    h3 {
      text-align: center;
      margin: 0;
      position: relative;
      // top: 50%;
      //transform: translateY(-50%);
    }
  }
}

.email-error,
.password-error {
  grid-column: 2/5;
}

.sp-logo,
.email,
.password,
.login-button {
  grid-column: 1/6;
}

.login-card,
.email,
.password,
.login-button,
.faq,
.invite-bot {
  border-radius: 30px;
}

.register,
.password-help,
.faq,
.invite-bot {
  color: #fff;
}

.register,
.password-help,
.login-button,
.faq,
.invite-bot {
  &:hover {
    cursor: pointer;
  }
}
.footer {
  grid-area: 9/1/10/12;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  .faq {
    font-size: medium;
    background-color: $sp-purple;
  }
  .invite-bot {
    font-size: medium;
    background-color: $sp-purple;
    animation: invite-pulse 3.75s ease-in-out infinite alternate;
  }
}
@keyframes invite-pulse {
  0% {
    background-color: $sp-purple;
  }
  25% {
    background-color: #c84e91;
  }
  50% {
    background-color: #c8c24e;
  }
  75% {
    background-color: #4ec885;
  }
  100% {
    background-color: $sp-purple;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .login-card {
    grid-area: 3/3/8/10;

    input,
    .login-button {
      //margin: 20px 0;
      max-height: unset;
    }

    input,
    .sp-logo {
      padding: 2.5px 25px;
      background-size: 225px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .login-card {
    text-align: unset;
    grid-area: 3/4/8/9;
    margin: 0;
    padding: 5px 0;

    input,
    .login-button {
      //margin: 17.5px 0;
      //text-align: center;
    }
    .login-button {
      min-height: 47.5px;
      //padding: 2.5px 15px;
    }
    input {
      text-align: unset;
    }
  }

  .sp-logo,
  .email,
  .password,
  .login-button {
    grid-column: 2/5;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
