// X-Small devices (portrait phones, less than 576px)

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-weight: bold;
  }
}

.close-icon {
  cursor: pointer !important;
}

/*This is a global style TODO: Place in a global sheet on the next pass.*/
.cancel-upload-icon {
  // grid-area: 2/11/3/12;
  //grid-area: 2/10/3/11;
  cursor: pointer;
  height: 24px;
  width: 24px;
  place-self: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.dialog-image {
  //min-height: 65vh;
  //width: 65vw;
  //min-width: 75vw;
  max-height: 57.5vh !important;
  max-width: 87.5vw !important;
  display: block;
  object-fit: contain;
  margin: auto;
}

.mat-dialog-container {
  overflow: hidden !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .dialog-image {
    max-height: 65vh !important;
    max-width: 65vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
