<header
  *ngIf="
    userLoggedIn &&
    !emailValidationSuccessPage &&
    !thanksBotDownloadPage &&
    !loginPage
  "
  class="flex"
>
  <div class="nav">
    <mat-icon
      (click)="goBack()"
      class="arrow-back material-icons-outlined md-36"
      *ngIf="displayBackButton"
      >arrow_back
    </mat-icon>
  </div>

  <div class="sp-header-logo" routerLink="/"></div>
  <div (click)="toggleNavCard($event)" class="user-avatar">
    <mat-icon
      *ngIf="!currentUser.discord.avatar"
      class="material-icons-outlined md-36 md-light account-circle"
      >account_circle
    </mat-icon>

    <ng-container *ngIf="currentUser.discord.avatar">
      <figure *ngIf="currentUser.discord.avatar.length > 0">
        <img
          [style.background]="'url(' + currentUser.discord.avatar + ')'"
          class="header-avatar-img"
        />
      </figure>
    </ng-container>
    <div
      [ngClass]="{ 'avatar-nav-card--open': navCardOpen === true }"
      class="avatar-nav-card nav-card-shadow"
    >
      <div (click)="toggleNavCard($event)" class="avatar-nav-card--close">
        <span>
          <mat-icon class="material-icons-outlined md-24">close</mat-icon>
        </span>
      </div>
      <div *ngIf="!currentUser.discord.avatar" class="avatar-nav-card__avatar">
        <mat-icon class="material-icons-outlined md-48"
          >account_circle
        </mat-icon>
      </div>
      <ng-container *ngIf="currentUser.discord.avatar">
        <div
          *ngIf="currentUser.discord.avatar.length > 0"
          class="avatar-nav-card__avatar"
        >
          <figure>
            <img
              [style.background]="'url(' + currentUser.discord.avatar + ')'"
              class="nav-card-avatar-img"
            />
          </figure>
        </div>
      </ng-container>

      <div
        *ngIf="currentUser.discord.username == ''"
        class="avatar-nav-card__username"
      >
        Best User
      </div>

      <ng-container *ngIf="currentUser.discord.username">
        <div
          *ngIf="currentUser.discord.username.length > 0"
          class="avatar-nav-card__username"
        >
          {{ currentUser.discord.username }}
        </div>
      </ng-container>
      <div routerLink="/" class="avatar-nav-card__home">Home</div>
      <div
        *ngIf="currentUser.discord.connected"
        routerLink="/photo-albums"
        class="avatar-nav-card__photo-albums"
      >
        Photo Albums
      </div>
      <div
        *ngIf="!currentUser.email_validation.validated"
        (click)="showSendEmailSnackbar()"
      >
        Send Verify Email
      </div>
      <div routerLink="/user-settings" class="avatar-nav-card__settings">
        Settings
      </div>

      <div (click)="logout()" class="avatar-nav-card__logout">Logout</div>
    </div>
  </div>
</header>
