<h1 mat-dialog-title>
  Reset password <br /><span
    ><h4>
      Enter the email associated with your account. We will send you
      instructions on how to reset password.
    </h4></span
  >
</h1>
<hr />
<mat-dialog-content>
  <form
    [formGroup]="resetEmailForm"
    (ngSubmit)="submit()"
    #f="ngForm"
    class="grid reset-email-dialog"
  >
    <input
      type="email"
      formControlName="resetPasswordEmail"
      class="password-reset-input"
      placeholder="{{ emailPlaceholderText }}"
      [ngClass]="{
        'is-invalid': submitted && resetEmailForm.controls['resetPasswordEmail'].errors
      }"
    />
    <button matRipple class="password-reset-button">Send Email</button>
  </form>
</mat-dialog-content>
