<div class="grid reset-password-page">
  <h1 class="heading">Create new password</h1>
  <h4 class="subheading">
    Please make sure your password is secure.<br />
    Must be 5 characters in length.
  </h4>
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="submit()"
    class="grid reset-password-card"
  >
    <div *ngIf="passwordMatchPrompt.length > 0" class="password-match-prompt">
      <h2>{{ passwordMatchPrompt }}</h2>
    </div>
    <input
      type="password"
      formControlName="password"
      class="password"
      placeholder="{{ passwordPlaceholder }}"
      [ngClass]="{
        'is-invalid': submitted && f['password'].errors
      }"
    />
    <input
      type="password"
      formControlName="confirmPassword"
      class="confirm-password"
      placeholder="{{ confirmPasswordPlaceholder }}"
      [ngClass]="{
        'is-invalid':
          submitted && f['confirmPassword'].errors
      }"
    />
    <button matRipple class="password-change-button">Change Password</button>
  </form>
</div>
