// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

/*.login-page,
.login-card {
  height: 100vh;
  width: 100vw;
}*/

.login-page {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
  background-color: #5555aa;
  height: 100vh;
}

.login-card {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: unset;
  width: unset;
  grid-area: 2/2/9/11;
  padding: 0 20px;
  text-align: center;
  background-color: #6666cc;

  input,
  .login-button {
    margin: 15px 0;
    border-style: solid;
    border-color: #6666cc;
    height: 47.5px;
    padding: 2.5px 25px;
  }

  input:focus {
    border-color: #232382;
    caret-color: #232382;
    border-radius: 30px;
    outline: none;
  }

  input {
    //This is the height minus padding and border which takes up space in input
    height: calc(47.5px - 9px);
    text-align: center;
    border-color: #6666cc;
  }

  .sp-logo {
    grid-row: 1/3;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    background-image: url(../../assets/global-images/sp-logo-white.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    border-bottom: 1px solid #fff;
  }

  .email {
    grid-row: 3/5;
    //align-self: start;
  }
  .email-error {
    grid-row: 4/5;
    color: #f8bbd0;
    font-weight: bolder;
    align-self: end;
    padding-left: 10px;
  }
  .password {
    grid-row: 5/7;
    //align-self: start;
  }
  .password-error {
    grid-row: 6/7;
    color: #f8bbd0;
    font-weight: bolder;
    align-self: end;
    padding-left: 10px;
  }

  .register {
    grid-row: 7/8;
    grid-column: 2/3;
    align-self: end;
  }

  .password-help {
    grid-row: 7/8;
    grid-column: 4/5;
    align-self: end;
  }

  .login-button {
    background-color: #fff;
    color: #6666cc;
    grid-row: 8/10;
    &:focus {
      outline: none;
    }
    h3 {
      text-align: center;
      margin: 0;
      position: relative;
      // top: 50%;
      //transform: translateY(-50%);
    }
  }
}

.email-error,
.password-error {
  grid-column: 2/5;
}

.sp-logo,
.email,
.password,
.login-button {
  grid-column: 1/6;
}

.login-card,
.email,
.password,
.login-button {
  border-radius: 30px;
}

.register,
.password-help {
  color: #fff;
}

.register,
.password-help,
.login-button {
  &:hover {
    cursor: pointer;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .login-card {
    grid-area: 3/3/8/10;

    input,
    .login-button {
      //margin: 20px 0;
      max-height: unset;
    }

    input,
    .sp-logo {
      //background-size: 275px;
      background-size: 225px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .login-card {
    text-align: unset;
    grid-area: 3/4/8/9;
    margin: 0;
    padding: 5px 0;

    input,
    .login-button {
      //margin: 17.5px 0;
      //text-align: center;
    }
    .login-button {
      min-height: 47.5px;
      //padding: 2.5px 15px;
    }
    input {
      text-align: unset;
    }
  }

  .sp-logo,
  .email,
  .password,
  .login-button {
    grid-column: 2/5;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
